<!doctype html>
<html lang="en">
{% load crispy_forms_tags %}
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <title>Hello, world!</title>
  </head>
  <body>

  <div class="container">
    <form id="p-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

      {{form|crispy}}

      <button type="submit" class="btn btn-primary">Button</button>
    </form>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <script type="application/javascript">
    const form = document.getElementById('p-form')
    const name = document.getElementById('id_name')
    const username = document.getElementById('id_username')
    const img = document.getElementById('id_img')

    const url = "http://127.0.0.1:8000/create/"

    const csrf = document.getElementsByName('csrfmiddlewaretoken')

    console.log(csrf)



    form.addEventListener('submit', e=>{
      e.preventDefault()

      const fd = new FormData()
      fd.append('csrfmiddlewaretoken', csrf[0].value)
      fd.append('name', name.value)
      fd.append('username', username.value)
      fd.append('img', img.files[0])

      $.ajax({
          type: 'POST',
          url: url,
          enctype: 'multipart/form-data',
          data: fd,
          success: function(response){
              console.log(response)
              window.location.replace("http://127.0.0.1:8000/");
          },
          error: function(error){
              console.log(error)
          },
          catch: false,
          contentType: false,
          processData: false,
      });

    });
  </script>

  </body>
</html>